*{
  box-sizing: border-box;
}

body{
  background-color: slateblue;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty{
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 1px solid black;
  background: #fff;
}

.hold{
  border: 5px solid #ccc;
}

.hovered{
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

.fill{
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 150px;
  width: 150;
  cursor: pointer;
}

@media(max-width:800px){
  body{
    flex-direction: column;
  }
}
